.request-form_container{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    @include font-set("PFDinTextUniversal",normal,500);
}
.request-form{
    width: 600px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    span{
        @include font-set("PFDinTextUniversal",normal,700);
        font-size: 40px;
        margin: 20px 0;
    }
    textarea{
        resize: none;
    }
    button{
        padding: 16px 48px;
        border-radius: 8px;
        margin: 12px 0;
        background: $main-color;
        color: white;
        font-size: 20px;
        text-align: center;
        @include font-set("PFDinTextUniversal",normal,600);
        transition: 0.3s;
        &:hover{
            color: white;
            background: rgb(250,0,0);
        }
    }
    input, textarea{
        border: 2px solid gray;
        border-radius: 4px;
        margin: 8px 0;
        width: 360px;
        height: 36px;
        padding: 10px 40px;
        @include font-set("PFDinTextUniversal",normal,500);
    }
    input::-webkit-input-placeholder{
        @include font-set("PFDinTextUniversal",normal,500);
    }
    textarea{
        height: 120px;
    }
}